<div class="container mt-5">
  <h1>Lista de Carritos</h1>

  {{#each mostrarCarts}}
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">Carrito {{this._id}}</h5>

        <ul class="list-group">
          {{#each this.products}}
            <li class="list-group-item">
              {{this.product.title}}
              - Cantidad:
              {{this.quantity}}
            </li>
          {{/each}}
        </ul>

        <a href="/api/carts/{{this._id}}" class="btn btn-primary mt-2">Ver
          Detalles</a>
      </div>
    </div>
  {{/each}}

</div>